<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7b6c7b68-1e98-4356-8f4c-d7faaf75aebf/resourceGroups/MonifiBackendAPI20220721140526ResourceGroup/providers/Microsoft.ContainerRegistry/registries/MonifiBackendAPIDocker</ResourceId>
    <ResourceName>MonifiBackendAPIDocker</ResourceName>
    <ResourceGroup>MonifiBackendAPI20220721140526ResourceGroup</ResourceGroup>
    <Subscription>Main MonifiSubscription</Subscription>
    <RegistryUrl>https://monifibackendapidocker.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>68f8e4da-84f2-4a0d-be26-b3d335c2fbb2</ProjectGuid>
  </PropertyGroup>
</Project>