<?xml version="1.0" encoding="utf-8"?>
<!--
Bu dosya, Web projenizin yayımlama/paket işlemi tarafından kullanılıyor. MSBuild dosyasını düzenleyerek
bu işlemin davranışını düzenleyebilirsiniz. Bununla ilgili daha fazla bilgi edinmek için https://go.microsoft.com/fwlink/?LinkID=208121 adresini ziyaret edin. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7b6c7b68-1e98-4356-8f4c-d7faaf75aebf/resourcegroups/monifiresource/providers/Microsoft.ContainerRegistry/registries/MonifiBackendAPI20220721010821</ResourceId>
    <ResourceName>MonifiBackendAPI20220721010821</ResourceName>
    <ResourceGroup>monifiresource</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://monifibackendapi20220721010821.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>68f8e4da-84f2-4a0d-be26-b3d335c2fbb2</ProjectGuid>
  </PropertyGroup>
</Project>